:root {
  --main-color: brown;
  --secondary-color: rgb(69, 202, 206);
  --tertiary-color: rgb(233, 155, 10);
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home {
  background-color: #26292e;
  display: flex;
  .photo {
    width: 50%;
    min-height: 100vh;

    img {
      height: 100%;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }

  .presentation {
    color: aliceblue;
    width: 50%;
    margin: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 50px;
      margin: 0;
    }

    ul {
      list-style-type: none;
      margin: 1em;
      padding: 0;
      text-decoration: none;
      display: grid;
      gap: 2em;
      li {
        display: flex;
        gap: 1em;
        align-items: center;

        i {
          font-size: 30px;
        }

        p {
          margin: 0;
          font-size: 20px;
        }
      }
    }
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 20px;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  .navbar {
    width: 90%;
    background-color: #585c65;
    border-radius: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .logoName {
      display: flex;
      align-items: center;
      width: 30%;
      gap: 0.8em;
      padding: 15px;

      i {
        display: block;
        font-size: 30px;
      }
      p {
        margin: 0;
        padding: 0;
        color: white;
        text-transform: capitalize;
      }
    }
    .options {
      width: 70%;
      display: grid;
      place-items: end;
      align-items: center;

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0;

        li {
          display: block;
          margin: 1em;
          padding: 0;
        }
      }
    }
    a {
      display: block;
      color: white;
      text-align: center;
      text-decoration: none;
    }
  }
}

.about-me {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  .content-about-me {
    box-shadow: 0px 0px 44px 10px rgba(102, 97, 97, 0.6);
    border-radius: 20px;
    width: 80%;
    height: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;

    .description {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 4em;
      div {
        display: flex;
        align-items: center;
        gap: 2em;
        width: 40%;

        i {
          font-size: 3em;
        }
      }
    }

    h2 {
      margin: 0;
      border-bottom: 3px solid black;
    }
  }
}

.experience {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 5em;
  justify-content: center;

  .content-experience {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;

    .companies {
      width: 100%;
      height: 100%;
      display: flex;
      gap: 4em;
      .MyS,
      .vast,
      .servitec {
        display: grid;
        place-items: center;
        justify-content: center;
        width: 30%;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0px 0px 44px 10px rgba(102, 97, 97, 0.6);

        h3 {
          margin: 1em;
          font-size: 22px;
        }

        .logo {
          width: 150px;
          height: 150px;
          margin: auto;

          img {
            width: 120px;
            height: 120px;
            border-radius: 20px;
          }
        }

        ul {
          text-align: start;
          display: flex;
          flex-direction: column;
          gap: 1.5em;
          margin: 1em;

          li {
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
              "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.education {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  .content-education {
    width: 90%;
    height: 90%;
    box-shadow: 0px 0px 44px 10px rgba(102, 97, 97, 0.6);
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    .schools {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      justify-content: center;

      .fya,
      .gilda {
        width: 100%;
        display: flex;
        gap: 2em;

        li {
          margin: 0.5em;
        }

        img {
          width: 250px;
          height: 250px;
        }
      }
    }

    h2 {
      display: block;
      margin: 2em;
      border-bottom: 3px solid black;
    }
  }
}
